#header{
    background: linear-gradient(to right,rgb(66, 66, 67),rgb(101, 101, 101));
}
#header #logo{
    width: 180px;

}
#header li a {
    color: rgb(254, 254, 255);
    font-size: 22px;
    font-weight: bold;
    padding-left: 50px;
}
#header li a:hover{
    color: rgb(174, 255, 0);
    
}

