#header{
    background: linear-gradient(to right,rgb(66, 66, 67),rgb(101, 101, 101));
}
#header #logo{
    width: 180px;

}
#form11{
    margin-top:5%;
}
#header li a {
    color: rgb(254, 254, 255);
    font-size: 22px;
    font-weight: bold;
    padding-left: 50px;
}
#header li a:hover{
    color: rgb(174, 255, 0);
    
}
#banner{
    background: linear-gradient(to right, rgb(48, 46, 46),rgb(86, 86, 87) ) ;
}
 #banner h4{
    font-size: 30px;
    color: white;
}
 #banner p{
    font-size: 12px;
    color: white;
}
 #banner #img1{
    width: 200px;
    border-radius: 50%;
 }
#footer{
    background: linear-gradient(to right, rgb(48, 46, 46),rgb(86, 86, 87) ) ;
}
#footer #description{
    width: 80px;
    padding-top: 20px;
    margin-bottom: 12px;
}
#footer #foot-dec{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Splash', cursive; ;
}

#footer p{
    font-family: 'Finlandica', sans-serif;
    font-size: 14px;
    color: white;
}
#footer .media{
    width: 60px;
}
#footer #company{

    font-family: 'Finlandica', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;
}
#footer #footer-query{
    font-family: 'Finlandica', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;
}
 h2{
    color:rgb(114, 88, 56) ;
    text-align: center;
    font-weight: bolder;
    padding: 20px 0px;
    transition-property: font-size; 
    transition-duration: 1.5s;
}
 h2:hover{

    font-size: 60px;
    
}
 p span{

    font-size: 17px;
    color: rgb(28, 85, 87);
    font-weight: bolder;
}
 p{

    font-size: 15px;
    color: rgb(28, 85, 87);
    font-weight: 600;
}
 #main-png{
    width: 80px;
    border-radius: 50%;
    position: relative;
    left: 30%;
}
#service .card{
    border: none;
}

 #service img{
    width: 250px;
    height: 200px;
    border-radius: 20%;
    position: relative;
    left: 35px;
    transition-property: width;
    transition-duration: 1s;
}

#service .card-title{
    text-align: center;
    font-size: 17px;
    color: rgb(28, 85, 87);
    font-weight: bolder;
}
 #service .card-text{

    font-size: 15px;
    color: rgb(28, 85, 87);
    font-weight: 600;
}
#banner #border1{
    width: 100%;
}
#footer #border2{
    width: 100%;
}
#service .btn{
    position:relative;
    left: 72px;
}
#help{
    background: rgb(70, 238, 98);
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#help :hover{
    background: rgb(14, 242, 2);
    
}
#help #btn{
    font-size: 15px;
    font-weight:500;

}
#form {
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;

}

#form .container {
    background: linear-gradient(rgb(86, 86, 87), rgb(57, 57, 57));
    border-radius: 10%;
    max-width: 800px;
    padding: 20px 15px 30px 15px;
    margin-top: 7%;
    margin-bottom: 7%;


}

label {

    font-size: large;
    font-weight: 500;
}
#form p{
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
    font-size: larger;
}


#facebook #logo{
    font-size: 55px;
    font-weight: bolder;
    color: rgb(13,110,253);
    position: relative;
    top: 180px;
    left: 155px;
}
#facebook #para{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight:390;
    position: relative;
    top: 180px;
    left: 155px;
}    
.login-form{
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
background-color: #fff;
padding: 25px;
position: relative;
left: 800px;
}

.btn-custom{
background-color: #1877f2;
border: none;
border-radius: 6px;
font-size: 20px;
line-height: 28px;
color: #fff;
font-weight:700;
height: 48px;
}
.btn-custom{
color: #fff !important;
}
input{
height: 52px;
font-size: 18px !important;
color: #f2f2f2;
}
.form-control:focus{
box-shadow: 0 0 0 0 rgba(13,110,253,.25);
}
a{
text-decoration: none;
}

button{
    color: #1877f2;
}
#msg{
    color: #f0f2f5;
    font-size: 20px;
    padding-top: 10px;
}
#header li #logout{

    border: 2px solid blueviolet;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 80px;
    background-color: #dbd6d6;
   color: rgb(178, 29, 29);
}
